/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.jumbotron {
    display: flex;
    width: 80%;
    height: 30%;
    margin: 0 auto;
}



.navbar-brand {
    
    margin-left: 10%;
    
}

.ulNav {
    display: flex;
    justify-content: end;
    margin-right: 10%;
}



.footer {
    display: flex;
    background-color: black;
    height: 66px;
    text-align: center;
    justify-content: center;
    color: white;

}

.pText {
    margin-top: 25px;
}