
.jumbotron {
    display: flex;
    width: 80%;
    height: 30%;
    margin: 0 auto;
}



.navbar-brand {
    
    margin-left: 10%;
    
}
.cards{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.ulNav {
    display: flex;
    justify-content: end;
    margin-right: 10%;
}



.footer {
    display: flex;
    background-color: black;
    height: 66px;
    text-align: center;
    justify-content: center;
    color: white;

}

.pText {
    margin-top: 25px;
}